<head>
  <meta charset='UTF-8' />
  <meta name='viewport' content='width=device-width, initial-scale=1.0' />
  <link href='/public/tailwind/tailwind.css' rel='stylesheet' />
  <link
    rel='stylesheet'
    href='https://unpkg.com/@themesberg/flowbite@1.2.0/dist/flowbite.min.css'
  />
  <title>Hikmarlar.uz</title>
  <style>
    #tab .active { color: #009688; border-color: #009688; }
    #myTab::-webkit-scrollbar { display: none; }
  </style>
</head>