<footer
class='flex justify-center border-t py-8 bg-primary-light bg-opacity-5'
>
<div class='container px-6 md:px-24 lg:px-48 xl:px-72'>

  <main class='flex flex-col gap-4 justify-center items-center w-full'>

    <div class='w-full lg:w-auto'>
      <img src='./assets/svg-logo-01.svg' width='120px' alt='LOGO' />
    </div>

    <div
      class='w-full lg:w-auto flex flex-wrap sm:flex-nowrap gap-2 lg:gap-4 items-center'
    >
      <div class='inline-flex gap-4 w-full'>
        <span
          class='w-full text-left sm:w-auto hover:text-gray-900 text-gray-600 whitespace-nowrap'
        >
          <a href='index.html' class='text-sm font-semibold'>Bosh sahifa</a>
        </span>
        <span
          class='w-full text-left sm:w-auto hover:text-gray-900 text-gray-600 whitespace-nowrap'
        >
          <a
            href='RandomQuotes.html'
            class='text-sm font-semibold'
          >Tasodifiy tartibda</a>
        </span>
      </div>
      <div class='inline-flex gap-4 w-full'>
        <span
          class='w-full text-left sm:w-auto hover:text-gray-900 text-gray-600 whitespace-nowrap'
        >
          <a
            href='Authors.html'
            class='text-sm font-semibold'
          >Mualliflar</a>
        </span>
        <span
          class='w-full text-left sm:w-auto hover:text-gray-900 text-gray-600 whitespace-nowrap'
        >
          <a href='Keys.html' class='text-sm font-semibold'>Kalit So'zlar</a>
        </span>
      </div>
      <div class='inline-flex gap-4 w-full'>
        <span
          class='w-full text-left sm:w-auto hover:text-gray-900 text-gray-600 whitespace-nowrap'
        >
          <a
            href='FavoriteQuotes.html'
            class='text-sm font-semibold'
          >Sevimli hikmatlarim</a>
        </span>

      </div>
    </div>

    <div class='inline-flex gap-2 lg:gap-4 w-full lg:w-auto'>
      <span
        class='w-full sm:w-auto hover:text-gray-900 text-gray-600 whitespace-nowrap'
      >
        <a
          href='References.html'
          class='text-sm font-semibold'
        >Foydalanilgan manbalar</a>
      </span>
      <span
        class='w-full sm:w-auto hover:text-gray-900 text-gray-600 whitespace-nowrap'
      >
        <a href='AboutUs.html' class='text-sm font-semibold'>Loyiha haqida</a>
      </span>
    </div>

  </main>

</div>

<!-- <div>
<span class="text-sm font-semibold text-gray-900">
  © Hikmatlar.uz. Oz-oz o'rganib dono bulur.
</span>
</div> -->
</footer>
